body {
    font-family: sans-serif;
    background-color:lightblue;
    margin-top: 75px;
    
}
#centre{
      text-align:center; 
      font-family:Times;
      font-size:50px;
      color:Red;
}
.center {
    text-align: center;
    padding-right:10px;
    padding-left:10px;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 500px;
}

