
    
body {
    font-family: fantasy;
    background-color: #e6adb3;
    margin-top: 10px;
    margin: auto;
    padding-top: 20px;
    
}
 #header {
    height :300px;
    width:800px;
    color:red;
    
}
#centre {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
    color: rgb(80, 62, 62);
}
.img-medium{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:500px;
    width:500px;
}
div p{
  padding-right:30px;
  padding-left:30px;
  color: #755c5c;
  font-size:20px;
  font-family: cursive;
    
}    

